<h3>
  Welcome to SlackClone!!
</h3>

<form #f="ngForm" (ngSubmit)="submit()">

  <!--<div class="form-group">
    <input type="text" id="connectionId" [(ngModel)]="user.connectionId" name="connectionId" hidden #connectionId="ngModel">
  </div>-->

  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" id="id" class="form-control" style="width:30%" [(ngModel)]="user.id" name="id" required #id="ngModel">
    <div class="alert alert-danger" *ngIf="id.touched && !id.valid">Please Enter Id</div>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" style="width:30%" [(ngModel)]="user.name" name="name" required #name="ngModel">
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please Enter Name</div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" style="width:30%" [(ngModel)]="user.password" name="password" required #password="ngModel">
    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Please Enter Password</div>
  </div>
 
  <input type="submit" class="btn btn-primary" [disabled]="!f.valid" value="Login" />

</form>
