
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>

      <h3>{{recvr.id}}-{{recvr.name}} </h3> {{ date | date:"hh:mm a dd-MMMM-yy " }}
      <div class="well well-bg" style="height:500px ">
        <div *ngFor="let message of messageList; let i = index">
          <div *ngIf="message.sender==rid || message.sender==sid">
            <div class="well well-sm" *ngIf="message.receiver==sid || message.receiver==rid">
              <div *ngIf="message.sender==sid"><b>{{sender.name}}:</b>  {{message.content}} <p style="float:right"><i>{{message.dateTime}}</i></p></div>
              <div *ngIf="message.sender==rid"><b>{{recvr.name}}:</b>  {{message.content}} <p style="float:right"><i>{{message.dateTime}}</i></p></div>
            </div>
          </div>
        </div>


        <div class="well well-sm" *ngFor="let message of messages">{{message}}</div>


      </div>

      <div class="input-group ">
        <input type="text" class="form-control " id="myInput" (keydown.enter)="sendMessage()" [(ngModel)]="message" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="sendMessage()" onclick="document.getElementById('myInput').value = ''">Go!</button>
        </span>
      </div>

    </div>
    </div>
</div>


